<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/basic" routerLinkActive="active">Basic</a>
  <a routerLink="/styling" routerLinkActive="active">Styling Columns</a>
  <a routerLink="/row-template" routerLinkActive="active">Row Template</a>
  <a routerLink="/pagination" routerLinkActive="active">Pagination</a>
  <a routerLink="/sorting" routerLinkActive="active">Sorting</a>
  <a routerLink="/pagesort" routerLinkActive="active"
    >Page & Sort (has issues)</a
  >
  <a routerLink="/searchfilter" routerLinkActive="active">Search Filter</a>
  <a routerLink="/filter" routerLinkActive="active">Filtering</a>
</nav>

<router-outlet></router-outlet>
