<mat-form-field>
  <input (keyup)="applyFilter($event)" matInput placeholder="Filter" />
</mat-form-field>

<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- licId Column -->
    <ng-container matColumnDef="licId" sticky>
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licId"
      >
        No.
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licId }}</td>
      <!-- <td mat-footer-cell *matFooterCellDef>Analysis</td> -->
    </ng-container>

    <!-- licNo Column -->
    <ng-container matColumnDef="licNo">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licNo"
      >
        Licence #
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licNo }}</td>
      <!-- <td mat-footer-cell *matFooterCellDef></td> -->
    </ng-container>

    <!-- licType Column -->
    <ng-container matColumnDef="licType">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licType"
      >
        Licence Type
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licType }}</td>
      <!-- <td mat-footer-cell *matFooterCellDef="let element">
        {{ analysisWeight(element) }}
      </td> -->
    </ng-container>

    <!-- licName Column -->
    <ng-container matColumnDef="licName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licName"
      >
        Licence Agency Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licName }}</td>
      <!-- <td mat-footer-cell *matFooterCellDef></td> -->
    </ng-container>

    <!-- licPlace Column -->
    <ng-container matColumnDef="licPlace">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licPlace"
      >
        City/Town/County
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licPlace }}</td>
      <!-- <td mat-footer-cell *matFooterCellDef></td> -->
    </ng-container>

    <!-- licPhone Column -->
    <ng-container matColumnDef="licPhone">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licPhone"
      >
        License Phone Number
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licPhone }}</td>
      <!-- <td mat-footer-cell *matFooterCellDef></td> -->
    </ng-container>

    <!-- licCondition Column -->
    <ng-container matColumnDef="licCondition">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licCondition"
      >
        Condition
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licCondition }}</td>
      <!-- <td mat-footer-cell *matFooterCellDef></td> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr> -->
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
