<!-- Default -->
<!-- Start: @header--default -->
<header class="ontario-header" id="ontario-header-default">
  <div class="ontario-row">
    <div class="ontario-header__logo-container ontario-columns ontario-small-6">
      <a href="https://www.ontario.ca/page/government-ontario">
        <img
          class="ontario-show-for-medium"
          src="assets/logos/ontario-logo--desktop.svg"
          alt="Government of Ontario"
          width="180"
          height="46"
        />
        <!-- <img
          class="ontario-show-for-small-only"
          src="assets/logos/ontario-logo--mobile.svg"
          alt="Government of Ontario"
          width="45"
          height="46"
        /> -->
      </a>
    </div>
    <div
      class="
        ontario-header__nav-right-container
        ontario-columns ontario-small-6
      "
    >
      <a
        href="/searchodsheader"
        class="
          ontario-header__language-toggler
          ontario-header-button ontario-header-button--without-outline
        "
      >
        <!-- <abbr title="Français" class="ontario-show-for-small-only"> FR </abbr> -->
        <span class="ontario-show-for-medium"> Français </span>
      </a>
    </div>
  </div>
</header>
<!-- End: @header--default -->

<script src="/assets/scripts/ontario-a11y.js"></script>
<script src="/assets/scripts/ontario-header.js"></script>

<!-- <mat-form-field>
  <input (keyup)="applyFilter($event)" matInput placeholder="Filter" />
</mat-form-field> -->

<mat-card>
  <mat-card-header>
    <h2 class="mat-h2">CYSFA Search</h2>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion displayMode="flat" [multi]="true">
      <mat-expansion-panel [expanded]="true">
        <!-- <mat-expansion-panel-header>
          <h3 class="mat-h3">Criteria</h3>
        </mat-expansion-panel-header> -->
        <!-- <mat-divider class="ftis-margin-botton"></mat-divider> -->

        <form class="form-container" [formGroup]="form">
          <div>
            <p>Please choose at least a search criterion.</p>
          </div>
          <mat-error aria-live="assertive" role="alert" *ngIf="invalidSearch">
            <fa-icon aria-hidden="true" [icon]="faExclamation"></fa-icon>
            <!-- Error message -->
            {{ errorKey }}
          </mat-error>
          <div
            style="color: green"
            aria-live="assertive"
            role="alert"
            *ngIf="successKey !== null && successKey !== ''"
          >
            <!-- Success message -->
            {{ successKey }}
          </div>
          <div fxLayout="column">
            <div>
              <div fxFlex="50%">
                <mat-label fxFlex="25%" class="search-label" id="lblLicNo"
                  >Licence #
                </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    formControlName="licNo"
                    aria-labelledby="licNoLabel"
                    maxlength="30"
                  />
                </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-label fxFlex="25%" class="search-label" id="lblLicType"
                  >Licence Type
                </mat-label>
                <mat-form-field appearance="outline">
                  <!-- <input
                    matInput
                    formControlName="licType"
                    aria-labelledby="licTypeLabel"
                    maxlength="30"
                  /> -->
                  <mat-select
                    id="licPlace"
                    formControlName="licType"
                    aria-labelledby="licTypeLabel"
                  >
                    <mat-option></mat-option>
                    <mat-option *ngFor="let c of licTypes" [value]="c">{{
                      c
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div>
              <div fxFlex="50%">
                <mat-label fxFlex="25%" class="search-label" id="lblLicName"
                  >Licensee agency name
                </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    formControlName="licName"
                    aria-labelledby="licNameLabel"
                    maxlength="30"
                  />
                </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-label fxFlex="25%" class="search-label" id="lblLicPhone"
                  >Licensee Phone Number
                </mat-label>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    formControlName="licPhone"
                    aria-labelledby="licPhoneLabel"
                    maxlength="20"
                  />
                </mat-form-field>
              </div>
            </div>
            <div>
              <div fxFlex="50%">
                <mat-label fxFlex="25%" class="search-label" id="lblLicPlace"
                  >City/Town/County
                </mat-label>
                <mat-form-field appearance="outline">
                  <!-- <input
                    matInput
                    formControlName="licPlace"
                    aria-labelledby="licPlaceLabel"
                    maxlength="3"
                  /> -->
                  <mat-select
                    id="licPlace"
                    formControlName="licPlace"
                    aria-labelledby="licPlaceLabel"
                  >
                    <mat-option></mat-option>
                    <mat-option *ngFor="let c of licPlaces" [value]="c">{{
                      c
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-label
                  fxFlex="25%"
                  class="search-label"
                  id="lblLicConditionLabel"
                  >Conditions
                </mat-label>
                <mat-form-field appearance="outline">
                  <mat-select
                    id="licCondition"
                    formControlName="licCondition"
                    aria-labelledby="licConditionLabel"
                  >
                    <mat-option></mat-option>
                    <mat-option *ngFor="let c of licConditions" [value]="c">{{
                      c
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxFlexAlign="center">
              <!-- [color]="searchColor" -->
              <button
                mat-raised-button
                style="margin-right: 15px"
                (click)="onSubmit()"
                (mouseover)="searchColor = 'primary'"
                (mouseout)="searchColor = ''"
              >
                Search
              </button>

              <!--[color]="resetColor" -->
              <button
                mat-raised-button
                (click)="onReset()"
                (mouseover)="resetColor = 'primary'"
                (mouseout)="resetColor = ''"
              >
                Reset
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel [(expanded)]="searchClicked">
        <mat-expansion-panel-header>
          <h3 class="mat-h3">
            <!-- {{
              (searchClicked
                ? "search.result-title-item"
                : "search.result-title"
              ) | translate: { param: items }
            }} -->
          </h3>
        </mat-expansion-panel-header>
        <!--ng-container *ngIf="searchClicked"-->
        <div>
          <p>Search result</p>
        </div>
        <div
          #resulttable
          role="region"
          aria-live="polite"
          class="mat-elevation-z8"
        >
          <!-- Search Result Table -->
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="announceSortChange($event)"
          >
            <!-- licId Column -->
            <ng-container matColumnDef="licId" sticky>
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by licId"
              >
                No.
              </th>
              <td mat-cell *matCellDef="let element">{{ element.licId }}</td>
              <!-- <td mat-footer-cell *matFooterCellDef>Analysis</td> -->
            </ng-container>

            <!-- licNo Column -->
            <ng-container matColumnDef="licNo">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by licNo"
              >
                Licence #
              </th>
              <td mat-cell *matCellDef="let element">{{ element.licNo }}</td>
              <!-- <td mat-footer-cell *matFooterCellDef></td> -->
            </ng-container>

            <!-- licType Column -->
            <ng-container matColumnDef="licType">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by licType"
              >
                Licence Type
              </th>
              <td mat-cell *matCellDef="let element">{{ element.licType }}</td>
              <!-- <td mat-footer-cell *matFooterCellDef="let element">
        {{ analysisLicence(element) }}
      </td> -->
            </ng-container>

            <!-- licName Column -->
            <ng-container matColumnDef="licName">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by licName"
              >
                Licence Agency Name
              </th>
              <td mat-cell *matCellDef="let element">{{ element.licName }}</td>
              <!-- <td mat-footer-cell *matFooterCellDef></td> -->
            </ng-container>

            <!-- licPlace Column -->
            <ng-container matColumnDef="licPlace">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by licPlace"
              >
                City/Town/County
              </th>

              <td mat-cell *matCellDef="let element">{{ element.licPlace }}</td>

              <!-- <td mat-footer-cell *matFooterCellDef></td> -->
            </ng-container>

            <!-- licPhone Column -->
            <ng-container matColumnDef="licPhone">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by licPhone"
              >
                License Phone Number
              </th>
              <td mat-cell *matCellDef="let element">{{ element.licPhone }}</td>
              <!-- <td mat-footer-cell *matFooterCellDef></td> -->
            </ng-container>

            <!-- licCondition Column -->
            <ng-container matColumnDef="licCondition">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by licCondition"
              >
                Condition
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.licCondition }}
              </td>
              <!-- <td mat-footer-cell *matFooterCellDef></td> -->
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr> -->
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 20, 100]"
            showFirstLastButtons
            aria-label="Select page of licences"
          >
          </mat-paginator>
        </div>
        <!--/ng-container-->
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
